body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-url {
  padding: 15px;
  margin: 0 auto;
}
.form-url .form-url-heading {
  margin-bottom: 10px;
}
.form-url .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 11px;
  font-size: 16px;
}
.no-padding {
  padding: 0;
  margin-bottom: 5px;
}
#shortenBtn, #long_url{
  border-radius: 0;
}
h1 {
  text-align:center;
}
#shortUrl, #shortUrl:focus {
  border: none;
  outline-width: 0;
}
